#correction-status {
    margin: 20px;
}

textarea
{
    width: 100%;
    margin: 10px;
    padding: 10px;
    height: 150px;
    font-size: 18pt;
    border-radius: 5px;
    border: solid 2px #AAAAAA;
    color: #888888;
}

.remark {
    font-size: 20pt !important;
}

@keyframes coincoin {
    from { border: solid 3px transparent; }
    to { border: solid 3px #AABBFF; }
}

input.start-lesson+label {
    display: block;
    padding: 3px;
}

input.start-lesson:checked+label {
    border-radius: 5px;
    border: solid 3px #AABBFF;
    padding: 0px;
    animation-name: coincoin;
    animation-duration: 0.3s;
}

input.start-lesson {
    display: none;
}

label.lesson {
    font-size: 14pt;
    font-weight: normal;
}

#lesson-list {
    overflow: hidden;
    padding: 15px;
}

#lesson-list ul li {
    list-style-type: none;
}

.mastery {
    height: 3px;
    margin-top: -4px;
}
