@import 'base.scss';

#correction-status {
    margin-top: 20px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 20px;
    border-radius: 0;
    box-shadow: 0px 0px 20px #AAAAAA;

    &.ok {
        color: $white;
        background-color: $green;
    }

    &.not-ok {
        color: $black;
        background-color: $red;
    }
}

#complain-button {
    text-align: center;
    width: 350px;
    height: 70px;
    margin-top: -50pt;
    margin-right: -50pt;
    box-shadow: 0px 0px 40px $dark-gray;
    font-size: 20pt;
}

.progress {
    background-color: transparent;
}

textarea {
    resize: none;
    width: 100%;
    padding: 10px;
    height: 150px;
    font-size: 18pt;
    border: solid 1px #DDDDDD;
    color: #888888;
}

.remark {
    font-size: 20pt !important;
}

@keyframes coincoin {
    from { border: solid 3px transparent; }
    to { border: solid 3px #AABBFF; }
}

input.start-lesson {
    display: none;

    &+label {
        display: block;
        padding: 3px;
    }

    &:checked+label {
        border-radius: 5px;
        border: solid 3px #AABBFF;
        padding: 0px;
        animation-name: coincoin;
        animation-duration: 0.3s;
    }
}

label.lesson {
    font-size: 14pt;
    font-weight: normal;
}

#lesson-list {
    overflow: hidden;
    padding: 15px;

    ul li {
        list-style-type: none;
    }
}

.mastery {
    height: 3px;
    margin-top: -4px;
}

div#playground {
    height: 100vh;

    div.question-container {
        .proposition-list {
            div.proposition {
                &:hover {
                    cursor: pointer;
                    border: 3px solid $very-light-primary;
                    background-color: $very-light-primary;
                }

                &.selected {
                    border: 3px solid $primary;
                    background-color: $light-primary;
                    color: $white;
                    font-weight: bold;
                }

                &.selected-but-wrong {
                    border: 3px solid $orange;
                    background-color: $salient-orange;
                    color: $white;
                    font-weight: bold;
                }

                &.right {
                    border: 3px solid $green;
                    background-color: $salient-green;
                    color: $white;
                    font-weight: bold;
                }

                .proposition-text {
                    font-size: 18px;
                }
            }
        }

        &.with-pictures {
            .proposition-list {
                display: flex;
                flex-direction: row;
                justify-content: space-around;

                div.proposition {
                    display: block;
                    width: 150px;
                    height: 150px;
                    text-align: center;
                    border-radius: 5px;
                    border: 2px solid $light-gray;
                    transition: background-color 0.25s, border 0.25s, color 0.25s;

                }
            }
        }

        &.no-pictures {
            .proposition-list {
                border-left: 1px solid gray;
                display: flex;
                flex-direction: column;

                div.proposition {
                    display: flex;
                    width: 100%;
                    height: 50px;
                    text-align: left;
                    border-radius: 5px;
                    border: 2px solid $light-gray;
                    transition: background-color 0.25s, border 0.25s, color 0.25s;
                    align-items: center;
                    padding: 5px;
                    margin: 3px;

                    span.proposition-text {
                        display: flex;
                    }
                }
            }
        }
    }
}

#text-row {
    box-shadow: 0px 0px 20px #AAAAAA;
    background-color: white;
    padding: 15px;
}


