$primary: #039BE5;
$dark-primary: darken($primary, 10);
$light-primary: lighten($primary, 10);
$very-light-primary: lighten($primary, 30);

$red: #e22d2d;
$salient-red: #440d0d;

$green: #008d4c;
$salient-green: #00a65a;

$orange: #e08e0b;
$salient-orange: #f39c12;

$primary-light: #DDEEFF;
$primary-dark: #DDEEFF;

$gray: #999999;
$dark-gray: #555555;
$light-gray: #EEEEEE;

$white: #EEEEEE;
$dark-white: #DDDDDD;
$light-white: #FFFFFF;

$black: #000000;
