$primary: #039BE5;
$dark-primary: darken($primary, 10);
$light-primary: lighten($primary, 10);
$very-light-primary: lighten($primary, 30);

$primary-light: #DDEEFF;
$primary-dark: #DDEEFF;

$gray: #999999;
$dark-gray: #555555;
$light-gray: #EEEEEE;

$white: #EEEEEE;
$dark-white: #DDDDDD;
$light-white: #FFFFFF;
