<a class="lesson-element"
     href="{{ path('front_study_action', {'lesson': lesson.id}) }}"
     id="lesson-{{ lesson.id }}"
     >
    {{ lesson.title }}

  {% if lesson.currentLearning is not null %}
    {% for i in 1..lesson.currentLearning.difficultyReached %}
      <i class="fas fa-star hotness indicator"></i>
    {% endfor %}
  {% endif %}
</a>
