<!DOCTYPE html>
<html>
{% include 'head.html.twig' %}

<body class="hold-transition skin-blue sidebar-mini" style="background-color: #ecf0f5;">
{% block body %} {% endblock body %}

{% block flash_messages %}
    <div id="alerts">
        {% if app.session.flashBag.has('error') %}
            {% for msg in app.session.flashBag.get('error') %}
                <div class="alert alert-error fading" style="display: none;"> {{ msg }} </div>
            {% endfor %}
        {% endif %}

        {% if app.session.flashBag.has('success') %}
            {% for msg in app.session.flashBag.get('success') %}
                <div class="alert alert-success fading" style="display: none;"> {{ msg }} </div>
            {% endfor %}
        {% endif %}
        <div id="alert_danger_js" class="alert alert-error" style="display: none;"></div>
        <div id="alert_success_js" class="alert alert-success" style="display: none;"></div>
    </div>
{% endblock flash_messages %}
</body>
</html>
