{% extends 'front/base.html.twig' %}

{% block additional_stylesheet %}
  <link rel="stylesheet" href="{{ asset('assets/css/complaint.css') }}" />
{% endblock additional_stylesheet %}

{% block javascript %}
  {{ parent() }}

  <script type="text/javascript">
function addAnswerEntry(e) {
  e.preventDefault();
  let complaintId = $(this).attr('complaint-id');
  let container = $('#complaint-' + complaintId);
  let answerCount = container.attr('answer-count');
  let answersContainer = container.find('.answers');
  answerCount ++;

  answersContainer.append(`
    <div class="row">
        <div class="col-md-12">
          <textarea rows="4" type='text'
                    name='answers[$answerCount]'
                    style='width: 100%; font-size: 13pt;'
                    exercise-text=''
                    proposition-text=''
                    class='form-control proposition'
                    ></textarea>
        </div>
    </div>
  `);

  container.attr('answer-count', answerCount);
}

let postTimeout;

$(document).ready(function () {
  $('a.add-answer').on('click', addAnswerEntry);

  $('.proposition').on('keyup', function () {
    let $this = $(this);
    let propositionText = $this.attr('proposition-text');

    clearTimeout(postTimeout);
    postTimeout = setTimeout(function () {
      $.ajax({
        type        : 'POST',
        url         : Routing.generate('api_study_test_proposition'),
        data        : { proposition: propositionText, exercise: $this.val() },
        dataType    : 'json',
        success     : function(data) {
          console.log(data);

          if (data.isOk) {
            $this.css('background-color', 'lightgreen');
          } else {
            $this.css('background-color', 'lightpink');

          }
        },
        error       : function(XMLHttpRequest, textStatus, errorThrown) {
          console.log(XMLHttpRequest);
            $this.css('background-color', 'lightpink');
        }
      });
    },
    500
      );
  });
});
  </script>
{% endblock javascript %}

{% block body %}
  <div class="container">

    <div class="container">
      {% if complaints|length %}
        {% include 'admin/complaint/_list.html.twig' %}
      {% else %}
        {% include 'admin/complaint/_empty_list.html.twig' %}
      {% endif %}
    </div> <!-- box -->
{% endblock body %}
