@import 'variables';

#header {
    left: -30px;
    right: -30px;
    top: 0px;
    height: 50pt;
    background-color: $primary;
    box-shadow: 0px 0px 30px black;
    color: $white;

    #logout {
        float: right;
        color: $light-gray;
        margin: 12pt;
        font-size: 20pt;
        border-left: 1px solid $light-white;
        padding-left: 10pt;
    }

    #logout:hover {
        color: $light-white;
    }

    #username {
        font-weight: lighter;
        float: right;
        padding-top: 13pt;
        font-size: 18pt;
        bottom: 0px;
    }

    #header-content {
        display: inline-block;
        height: 100%;

        #course-menu {
            height: 100%;
            list-style: none;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;

            li {
                margin-left: 10px;
                color: $light-white;
                display: flex;
                align-items: center;
                height: 100%;
                font-size: 20pt;
                font-weight: lighter;

                &.current-course {
                    font-weight: normal;
                    background-color: $light-primary;
                }

                & a {
                    display: inline-block;
                    color: $light-gray;
                    height: 100%;
                    width: 100%;
                    padding: 10px 20px 10px 20px;
                    border-bottom: 8px solid transparent;
                    transition: border-bottom 0.2s;

                    &:hover {
                        border-bottom: 8px solid $light-primary;
                        color: $light-white;
                    }

                    & span {
                        display: block;
                        margin-top: -8px;
                        font-size: 10pt;
                        font-style: italic;
                        padding-left: 20px;
                    }
                }
            }
        }
    }
}
