{% extends 'admin/base.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}
{% import ':default:fields_error.html.twig' as display_errors %}

{% block header -%}
    Votre profil
{% endblock header %}

{% import ':default:fields_error.html.twig' as display_errors %}

{% block breadcrumb -%}
    <li><a href="{{ url('user_list') }}">Utilisateurs</a></li>
    <li class="active">Changement mot de passe</li>
{% endblock %}

{% block content -%}
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Changement du mot de passe</h3>
                    </div><!-- /.box-header -->
                        {% include "FOSUserBundle:ChangePassword:changePassword_content.html.twig" %}
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
