.header {
    background: #8a8a8a;
}

.header .columns {
    padding-bottom: 0;
}

.header p {
    color: #fff;
    margin-bottom: 0;
}

.header .wrapper-inner {
    padding: 20px; /*controls the height of the header*/
}

.header .container {
    background: #8a8a8a;
}

.wrapper.secondary {
    background: #f3f3f3;
}
