.main-wrapper {
    padding: 20px;
    background-color: #fafafa;
}

.header {
    background: #8a8a8a;
}

.header .columns {
    padding-bottom: 0;
}

.header p {
    color: #fff;
    margin-bottom: 0;
}

.header .wrapper-inner {
    padding: 20px; /*controls the height of the header*/
}

.header .container {
    background: #8a8a8a;
}

.wrapper.secondary {
    background-color: #fafafa ! important;
    border-top: 1px solid #cacaca;
}

.container {
    background-color: #fafafa ! important;
    border-radius: 15px;
    color: #212529;
}

.primary {
    background-color: #17a2b8 ! important;
}
