<div class="book-lesson-element">
  <h1>
    {{ bookLesson.title }}
  </h1>
  <h2>
    {{ bookLesson.subtitle }}
  </h2>
  <div class="lesson-list">
    {% for lesson in bookLesson.lessonList %}
      {% if lesson.isUnlockedForUser(app.user) %}
        {% include 'front/lobby/unlocked_lesson.html.twig'
           with {"lesson": lesson}
        %}
      {% else %}
        {% include 'front/lobby/locked_lesson.html.twig'
           with {"lesson": lesson}
        %}
      {% endif %}
    {% endfor %}
  </div>
</div>
