<ul>
  <li v-for="lesson in lessons">
    <input
      type="radio"
      class="start-lesson"
      :id="lesson.id"
      :value="lesson.id"
      v-model="selectedLessonId"
      >
    </input>

    <label class="lesson"
           >
      ${ lesson.title }
      <strong v-if="lesson.currentLearning">
        (${ lesson.currentLearning.mastery }%)
      </strong>
    </label>
  </li>
</ul>
