<ul>
  <li v-for="lesson in lessons">
    <input
      type="radio"
      class="start-lesson"
      :id="lesson.id"
      :value="lesson.id"
      v-model="selectedLessonId"
      >
    </input>

    <label class="lesson" >
      ${ lesson.title }
      <strong v-if="lesson.currentLearning">
        (${ lesson.currentLearning.hotness }%)
      </strong>

      <div v-if="lesson.currentLearning"
           class="progress-bar progress-bar-success active mastery"
           role="progress-bar"
           v-bind:style="{ width: (10 + (lesson.currentLearning.hotness * 30)) + '%' }"
           >
      </div>
    </label>
  </li>
</ul>
