<ul>
  <li v-for="lesson in lessons">
    <input
      type="radio"
      class="start-lesson"
      :id="lesson.id"
      :value="lesson.id"
      v-model="selectedLessonId"
      >
    </input>

    <label class="lesson" >
      ${ lesson.title }
      <strong v-if="lesson.currentLearning">
        (${ lesson.currentLearning.mastery } ${ lesson.currentLearning.hotness }%)
      </strong>

      <div v-if="lesson.currentLearning"
           class="progress-bar active mastery"
           role="progress-bar"
           v-bind:style="{
             width: (10 + (lesson.currentLearning.hotness * 30)) + '%',
           }"
           v-bind:class="{
             'progress-bar-danger': (lesson.currentLearning.hotness == 0 || lesson.currentLearning.hotness == 1),
             'progress-bar-warning': (lesson.currentLearning.hotness == 2),
             'progress-bar-success': (lesson.currentLearning.hotness == 3)
           }"
           >
      </div>
    </label>
  </li>
</ul>
