{% extends 'base.html.twig' %}

{% block body %}
<div class="container"
     id="lesson"
  >
  <div class="row">
    <div class="col-sm-3">
      {% include 'front/study/lesson_list.html.twig' %}
    </div> <!-- col -->
    <div id="dynamic-content"
         class="col-sm-9"
         >
      <div id="playground" style="display: none">
      {% include 'front/study/playground.html.twig' %}
      </div>

      <div id="caca">
      {% include 'front/study/caca.html.twig' %}
      </div>
    </div> <!-- col -->
  </div> <!-- row -->
</div> <!-- container -->
{% endblock body %}
