{% extends 'base.html.twig' %}

{% block body %}
{% for lesson in lessonList %}
<div class="container"
     id="lesson"
  >
  <div class="row">
    <div class="col-sm-3">
      <a
        class="start-lesson"
        lesson-id="{{ lesson.id }}"
        >
        {{ lesson.title }}
      </a>
    </div> <!-- col -->
    <div class="col-sm-9">
      <div class="row"
           id="lesson-title"
        >
        ${ lessonTitle }
      </div> <!-- row -->
      <div class="row"
           id="progress"
        >
        <div class="progress">
          <div class="progress-bar progress-bar-success progress-bar-striped active"
               role="progress-bar"
               v-bind:style="{ width: progress + '%' }"
               >
          </div>
        </div>
      </div> <!-- row -->
      <div class="row">
        <div class="col-sm-6">
          <input type="textbox"
                 id="exercise"
                 readonly
                 v-bind:value="exerciseText"
          />
        </div> <!-- col -->
        <div class="col-sm-6">
          <input type="textbox"
                 id="proposition"
                 v-model="proposition"
                 placeholder="réponse ..."
          />
        </div> <!-- col -->
      </div> <!-- row -->
      <div class="row"
           id="correction"
        >
        <ul id="remarks">
          <li v-for="remark in remarks">
            ${ remark }
          </li>
        </ul>
      </div> <!-- row -->
    </div> <!-- col -->
  </div> <!-- row -->
</div> <!-- container -->
{% endfor %}
{% endblock body %}
