<div class="row"
     id="lesson-title"
  >
  <h1>
  ${ lessonTitle }
  </h1>
</div> <!-- row -->

<div class="row"
     id="progress"
  >
  <div class="progress">
    <div class="progress-bar progress-bar-success progress-bar-striped active"
         role="progress-bar"
         v-bind:style="{ width: progress + '%' }"
         >
    </div>
  </div>
</div> <!-- row -->

<div class="row">
  <div class="col-sm-6">
    <textarea
           cols="50"
           rows="4"
           id="exercise"
           readonly="true"
           v-bind:value="exerciseText"
    >
    </textarea>
  </div> <!-- col -->
  <div class="col-sm-6">
    <textarea
           cols="50"
           rows="4"
           id="proposition"
           v-model="proposition"
           placeholder="réponse ..."
    >
    </textarea>
  </div> <!-- col -->
</div> <!-- row -->

<div class="row">
  <div class="jumbotron"
       id="correction-status"
       v-bind:style="{
         'background-color': remarksBg,
       }"
       style="display: none"
    >
    <h1 class="display-3"
       v-bind:style="{
         'color': remarksFg,
       }"
        >
      ${ correctionStatus }
    </h1>

    <hr />

    <p class="remark" v-html="remark" v-for="remark in remarks">
    </p>
  </div>
</div> <!-- row -->

<div class="row">
    <button class="btn btn-warning btn-lg pull-right"
            id="complaint-button"
            style="display: none"
            >
      Euuuh bah si putin ...
</div> <!-- row -->

<div id="lesson-conclusion-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1>
        ${ conclusionHeader }
        </h1>
      </div>
      <div class="modal-body">
        <p>
        ${ conclusionBody }
        </p>
      </div>
      <div class="modal-footer">
        <p>
        ${ conclusionFooter }
        </p>
      </div>
    </div>
  </div>
</div>
