{% extends 'email/base.html.twig' %}

{% block content %}
<row>
    <columns small="12">
        <h1>Bonjour {{ user.nickname }}</h1>
        <p class="lead">Votre mot de passe vient d'être changé</p>
        <p>Si vous n'êtes pas à l'origine de cette action, merci de contacter notre support.</p>
    </columns>
</row>
{% endblock content %}
