{% extends 'email/base.html.twig' %}

{% block content %}
<row>
    <columns small="12">
        <h1>Ho sheit new user :o</h1>
        <p>{{ user.nickname }} </p>
        <p>{{ user.email }} </p>
    </columns>
</row>
{% endblock content %}
