{% extends 'email/base.html.twig' %}

{% block content %}
<row>
    <columns small="12">
        <h1>Bonjour {{ user.nickname }}</h1>
        <p class="lead">Vous avez demandé un changement de mot de passe</p>
        <p>Vous pouvez en choisir un nouveau en cliquant sur ce bouton :</p>

        <center>
            <button class="large primary"
                    href="{{ resetUrl }}"
            >
                Choisir un mot de passe
            </button>
        </center>

        <p>Ce lien sera valable pendant une heure.<p>
        <p>Si vous n'êtes pas à l'origine de cette action, vous pouvez ignorer cet email.<p>
    </columns>
</row>
{% endblock content %}
